doctype html
html
    head
        title DashBoard Example 
        link( rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
        link( rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous")
        script( src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
        link(rel="stylesheet" href="/main.css" type="text/css")
    body
        div(class="container-fluid")
            div(class="row")
                div(class="col-xs-12 topClass")
                    h1(class="text-center") Hello, #{name}
                    div(class="btn btn-success" id="hider" onclick="getElementsByClassName('hide1').style.visibility='hidden';" role="button" style="margin: auto; display: block; width: 10%;") Press me!!
            
            div(class="row hide1")
                -for(i=0;i<polls.length;i++)
                    div(class="col-xs-12" style="padding: 10px;")
                        -s="/poll/"+polls[i]._id.toString();
                        a(class="btn btn-primary btn-lg" href=s role="button" style="margin: auto; width: 40%; display: block;") #{polls[i].qu}

            div(class="row" id="hide2")
                div(class="col-xs-4" style="padding: 30px;")
                    h2(class="text-left") #{poll.qu}
                div(class="col-xs-4" style="padding: 30px;")
                    -for(i=0;i<poll.op.length;i++)
                        div(class="radio")
                            label
                                input(type="radio" name="opt" id=((i+1).toString()) value=poll.op[i]) 
                                | #{poll.op[i].st}
                    div(class="btn btn-success vote" role="button" style="margin: auto; display: block; width: 20%;") Vote

        script.
            var but=document.getElementById('hider');
            but.addEventListener('click', function(){
                Array.from(document.getElementsByClassName('hide1')).forEach(function(val){
                    val.style.display='none';
                });
            });
